@model DXDocsMVC.Models.Document
<div>
    <table class="DocumentHeadPane">
        <tr>
            <td>
                <div class="LogoPane">
                    <a class="LogoLink" href="/">
								@Html.DevExpress().Image(imageSettings =>
                           {
                               imageSettings.Name = "LogoImage";
                               imageSettings.ImageUrl = "~/Content/Images/Icons/DXLogo.png";
                           }).GetHtml();                        
                    </a>
                </div>
            </td>
            <td class="TitleContainer">
                @Html.DevExpress().Label(settings => {
               settings.ControlStyle.CssClass = "TitleLabel";
               settings.Text = Model.TitleText;
           }).GetHtml();

                <div class="StatusMark">
                    @Html.DevExpress().Label(labelSettings =>
               {
                   labelSettings.Name = "StatusMarkLabel";
                   labelSettings.ControlStyle.CssClass = "StatusMarkLabel";
                   labelSettings.Text = Model.DocumentName;

               }).GetHtml();
                </div>
            </td>
            <td>
                <div class="UserMenuContainer">
                    @using (Html.BeginForm("SignOut", "Home"))
                    {
                        Html.Hidden("signout", "true");
                        Html.DevExpress().Menu(userSettings =>
                        {
                            userSettings.Name = "UserMenu";
                            userSettings.ControlStyle.CssClass = "UserMenu";
                            userSettings.ControlStyle.Paddings.PaddingRight = Unit.Pixel(0);
                            userSettings.RightToLeft = DefaultBoolean.True;
                            userSettings.AppearAfter = 9999999;
                            userSettings.ControlStyle.GutterWidth = Unit.Pixel(0);
                            userSettings.ClientSideEvents.ItemClick = "App.onUserMenuItemClick";

                            userSettings.Styles.Item.CssClass = "UserMenuItem";
                            userSettings.Styles.Item.HoverStyle.CssClass = "UserMenuItem";
                            userSettings.Styles.SubMenu.CssClass = "UserSubMenu";
                            userSettings.Styles.SubMenuItem.CssClass = "UserSubMenuItem";
                            userSettings.Styles.SubMenuItem.HoverStyle.CssClass = "UserSubMenuHoveredItem";

                            userSettings.Items.Add(Model.UserMenuItems);

                        }).Render();
                    }                    
                </div>
            </td>
        </tr>
    </table>
    @{
        Html.RenderPartial(Model.RibbonControlPartial);
        Html.RenderPartial(Model.EditorControlPartial);
    }
    @Html.DevExpress().LoadingPanel(loadingSettings =>
    {
        loadingSettings.Name = "LoadingPanel";
        loadingSettings.Modal = true;
        loadingSettings.Styles.LoadingDiv.CssClass = "LoadingDiv";
        loadingSettings.SetTemplateContent("<img src='/Content/Images/Icons/loading.gif'></img>");
    }).GetHtml()
    @Html.Action("CallbackPanelPartial");
    
    @*<dx:ASPxCallback runat="server" ID="DocumentEditorCallback" ClientInstanceName="DocumentEditorCallback"
                     OnCallback="DocumentEditorCallback_Callback">
        <clientsideevents callbackcomplete="App.onDocumentEditorCallbackComplete" />
    </dx:ASPxCallback>*@
</div>

